tests/asl_Choice/workflow_choice_state_test.json
{
    "Comment": "Test Choice",
    "StartAt": "ChoiceStateX",
    "States": {
    "ChoiceStateX": {
    "Type": "Choice",
    "Choices": [
    {
        "Not": {
          "Variable": "$.type",
          "StringEquals": "Private"
        },
        "Next": "Public"
        },
        {
        "Variable": "$.value",
        "NumericEquals": 0,
        "Next": "ValueIsZero"
        },
        {
        "And": [
            {
            "Variable": "$.value",
            "NumericGreaterThanEquals": 20
            },
            {
            "Variable": "$.value",
            "NumericLessThan": 30
            }
        ],
        "Next": "ValueInTwenties"
    }
    ],
    "Default": "DefaultState"
    },
    "Public": {
        "Type" : "Task",
        "Resource": "Public",
        "End": true
    },
    "ValueIsZero": {
        "Type" : "Task",
        "Resource": "ValueIsZero",
        "End": true
    },
    "ValueInTwenties": {
        "Type" : "Task",
        "Resource": "ValueInTwenties",
        "End": true
    },
    "DefaultState": {
        "Type": "Fail",
        "Cause": "No Matches!"
    }
}
}
